*{
	margin:0px;
	padding: 0px;
}

body{
	font-family: 'Open Sans', sans-serif;
overflow-x: hidden; 
/*overflow: hidden;*/
}

.header{

	justify-content: center;
		

	background-image:  url(../img/images.jpeg);
 	height: 70vh;
	background-repeat: no-repeat;
 	background-size: cover;
 	background-attachment: fixed;
 	background-position: center;
	
}

.header nav

{
   position: fixed;
   z-index: 9999;
 
	height: 5rem;
	color:#ffff;
	/*border: solid 2px #fff;*/
	width: 100%;

}

.header nav ul {
	
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	 list-style: none;
	display: flex;
	/*border: solid 2px #fff;*/
	justify-content: center;
}

.header nav ul li {
	
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	 font-size: calc(1em + 1vw);
	 border: solid 2px #fff;
	 border-radius: 10%;
	 padding: 7px;
	 width: 5rem;
	 display: flex;
	 justify-content: center;
	 height: 5vh;
	 margin: 1.3rem;
}

.logo{
	position: absolute;
	border-radius: 50%;
	display: flex;

	justify-content: center;
	align-items: center;
	width: 20%;
	margin-top: 6em;
	background:#497e6a;
	height: 10rem;
	color:#fff;
	border: solid 2px  #fff;
}
.logo p{
font-size: calc(0.5em + 0.5vw);
}