html {
  font-size: 62.5%;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: #efefef;
  overflow-x: hidden;
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
  box-sizing: border-box;
  color: ;
}
.espacio-sectiones {
  height: 1rem;
}
.header nav {
  position: fixed;
  z-index: 9999;
  color: #ffff;
  height: 6vh;
  width: 100%;
  border: #76350d solid 1px;
  /* background-color: #4b6304; */
  background-color: #112b3c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header nav ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: center;
}
.header nav ul li {
  font-family: "Tapestry", cursive;
  font-size: 2rem;
  border-radius: 10%;
  margin-left: 10px;
  padding: 6px;
}
.header nav ul li.active {
  color: #f66b0e;
}
.header nav ul li:hover {
  color: #cf5a19;
}

/* SECTION IMG FONDO */
.img-fondo {
  height: 70vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/header.jpg);
  display: grid;
  object-fit: cover;
}
.hover h1 {
  color: #efefef;
  text-shadow: 1px 1px 1px #205375;
  font-size: 3rem;
  text-transform: uppercase;
  display: grid;
  justify-content: center;
  align-items: center;
}

.hover h1:hover {
  transform: scale(1.1);
  transition: calc(1s);
  color: #cf5a19;
}
.seccion .hover {
  width: 100%;
  height: 70vh;
  background-color: rgb(56, 53, 53, 0.569);
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: cover;
}
/* SECTIO DE LOS TAP*/
.taps1 {
  /* display: none; */
}

.taps3 {
  display: none;
}

/* section taps1 */

.Fotos_prom {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.Fotos_prom img {
  width: 100%;
  height: 60vh;
  opacity: 0.9;
}

.text_h2_p {
  position: absolute;
  top: 10px;
  color: #efefef;
  width: 50%;
  background-color: rgb(56, 53, 53, 0.569);
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  font-size: 5rem;
  transform: translateZ(8px) scale(0.375);
  transform-origin: 50%;
  cursor: pointer;
}

.text_p {
  position: absolute;
  top: 260px;
  color: #f66b0e;
  height: 5vh;
  width: 40%;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  background-color: #efefef;
  transform: translate(20%);
  font-size: 3rem;
}
.text_h2_p:hover {
  transform: translateX(100px);
}
.informacion {
  height: 60vh;
  background-color: #112b3c;
  color: #efefef;
  padding: 22px;
  border: #76350d solid 1px;
}
.informacion h1 {
  text-align: center;
  font-weight: bold;
}
.informacion h2 {
  margin: 2rem;
}

/* container taps2*/

.containeCompraPizza {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #112b3c;
  margin-top: 3.5rem;
  box-sizing: border-box;
}
.containeCompraPizza img {
  width: 100%;
  height: 40vh;
  overflow: hidden;
  object-fit: cover;
  border-radius: 6px;
}
/* hover de imagen */
.box {
  width: 100%;
  height: 40vh;
  text-align: center;
  overflow: hidden;
  position: relative;
  margin: 1.3%;
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box .hover {
  width: 0%;
  height: 50vh;
  background-color: rgb(56, 53, 53, 0.568);
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.4s all;
}

.hover h1 {
  color: rgb(217, 198, 235);
  text-shadow: 1px 1px 1px black;
  font-size: 2rem;
  text-transform: uppercase;
}
.box:hover .hover {
  width: 100%;
}
/* setion del tap3 */

.imagen-continer3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #112b3c;
  border: #0f0e0e solid 3px;
  color: aliceblue;
  margin-top: 3.5rem;
}
.imagen-continer3 div {
  border: solid 1px #205375;
  text-align: center;
  display: block;
  justify-content: space-around;
  padding: 2rem;
  margin: 2rem;
  align-items: center;
  box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.imagen-continer3 img {
  width: 100%;
  height: 25vh;
  object-fit: cover;
  border-radius: 2%;
}

.imagen-continer3 button {
  cursor: pointer;
  width: 90%;
  height: 6vh;
  border-radius: 6px;
  background: #cf5a19;
  color: #fff;
  outline: none;
}
.imagen-continer3 button:hover {
  background: #205375;
}
.imagen-continer3 div:hover {
  border: solid 1px #9cc3dd;
}
/*  */

/* FUTER */

.fooder_contec {
  color: #fff;
  background-color: #383838;
  display: flex;
  padding: 2rem;
  justify-content: space-around;
  align-items: center;
}
.social_media a span {
  color: #fff;
  font-size: 3em;
  margin: 5px;
}
.social_media {
  margin: auto;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social_media a {
  text-decoration: none;
  list-style: none;
}
/* SECTION DONDE VA LA BEBIDA */
.container-bebida {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #112b3c;
  border: #0f0e0e solid 3px;
  color: aliceblue;
  margin-top: 3.5rem;
}

.container-bebida div {
  border: solid 1px #205375;
  text-align: center;
  display: block;
  justify-content: space-around;
  padding: 2rem;
  margin: 2rem;
  border-radius: 1%;
  align-items: center;
  cursor: pointer;

  box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.container-bebida img {
  width: 100%;
  height: 25vh;
  object-fit: cover;
  border-radius: 2%;
}
.container-bebida button {
  cursor: pointer;
  width: 90%;
  height: 6vh;
  border-radius: 6px;
  background: #cf5a19;
  color: #fff;
  outline: none;
}
.container-bebida button:hover {
  background: #205375;
}
.container-bebida div:hover {
  border: solid 1px #9cc3dd;
}
