/*las mediecuere*/
@media screen and (max-width: 800px){
	.header nav ul li{
	height: 2.5rem;
	width: 3.5em;
	padding: 2px;
	font-size: calc(1em + 1vw)
	

	}

	.header nav{
		width: 80%;

	}
	.nave{
		height: 4em;
font-size: calc(1em + 1vw)
	}
	.buscardor input{
		 height: 25px;
		 width: 40%;
		 margin-top: 80px;
		 font-size: calc(0.5em + 0.5vw)
	}
	.buscardor label{
		height: 28px;
		width: 40%;
		padding: 5px;
		font-size: calc(0.5em + 0.5vw)
	}
	.tap1 {
		/*grid-template-columns: repeat(3, minmax(100px, 250px));*/
		height: 85em;
		grid-template-columns: repeat(auto-fill, 90%);
	}
	.cuadro_imagen1{
		height: 25em;
	}
	.cuadro_imagen1 h2{
		font-size: calc(1.5em + 1.5vw);
	}
	.cuadro_imagen1 p{
		font-size: calc(1.5em + 1vw);
	}
	.cuadro_imagen1 button{
		font-size: calc(1em + 1vw);
		height: 2em;
		width: 15vw;
	}
	.cuadro_imagen1 img{
		height: calc(10vw + 5rem);
		height: 20em;
		width: 100%;
	}
	.fooder_contec {
     height: 50vh;
     padding: 10px;
     font-size: calc(0.5em + 0.6vw);
	}
}
/*segunda medidas*/

@media screen and (max-width: 500px){


	.header{

		height: 30em;
		font-size: calc(0.5em + 1vw);


	}

	.header nav ul li{

		margin:0.6em ;
		height: 4vh;

	}

	.nave{

		height: 4em;

	}

	.buscardor input{
		
		margin-top: 60px;
		font-size: calc(0.5em + 0.5vw);
	}

	.buscardor label{
		height: 15px;
		font-size: calc(0.3em + 0.5vw);
	}


	.tap1 {
		grid-template-columns: repeat(auto-fill, 100%);
		height: 40em;
	}


	.cuadro_imagen1{
		height: 10em;
	}


	.cuadro_imagen1 h2{
		font-size: calc(1em + 0.5vw);
	}


	.cuadro_imagen1 p{
		font-size: calc(1em + 0.4vw);
	}
	
	.cuadro_imagen1 button{
		font-size: calc(0.7em + 0.7vw);
		height: 4vh;
		margin-top: -2em;
		width: 25vw;
	}


	.cuadro_imagen1 img{
		height: 10rem;
	}

	.fooder_contec{
		height: 100vh;
		padding: 5px;
		grid-template-columns: repeat(auto-fill, 90%);
	}

	.social_media a span {

		font-size: 5em;


	}

	.social_media{
		text-align: center;
		/*font-size: calc(1em + 1vw);*/


	}
}